:root {
  --primary-color: #F04C28;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --gray-color: #C1C1C1;
  --gray-dark-color: #c1c1c1;
  --font-iranSansDn: 'iranSansDn';
  --font-wight-200: 200;
  --font-wight-300: 300;
  --font-wight-400: 400;
  --font-wight-500: 500;
  --font-wight-700: 700;
  --font-wight-900: 900;
}